<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Home</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Your grades</h1>
  <body>
    <table>
        <thead>
            <tr>
                <th>Section_ID</th>
                <th>Grade</th>
            </tr>
        </thead>
        <ul>
          {% for row in grades %}
              <li>ID: {{ row['Section_ID'] }} - Grade: {{ row['Grade'] }}</li>
          {% endfor %}
      </ul>
    </table>

</html>
